---
import '@/global.css';
import Header from "@/components/layouts/Header.astro";
import Footer from "@/components/layouts/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site ?? new URL('https://simon.renoux.dev/'));
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="750">
    <meta property="og:url" content={'https://www.oneiricforge.com/'} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={'https://www.oneiricforge.com/'} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <meta name="theme-color" content="#f08e70" />
</head>

<body>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</body> 
</html>