---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title?: string;
  description?: string;
}

const { title: t, description: d } = Astro.props;

const title = t || "Simon Renoux";
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const description = d || "*fox*";

const now = new Date();
const christmas = now.getMonth() === 11;

const icon = christmas ? "/favicon-christmas.ico" : "/favicon.ico";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="theme-color" content="#f49898" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href={icon} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />

    <meta property="og:site_name" content="simon.renoux.dev" />
    <meta property="og:type" property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social-image.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fantomitechno" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/social-image.png" />
  </head>
  <body>
    <div id="page-contents">
      <Navbar />
      <slot />
    </div>
    <Footer />
    <script src="../assets/spa.js"></script>
    <style is:global>
      /** FONTS */
      @font-face {
        font-family: "Lexend";
        font-style: normal;
        font-display: swap;
        src: url(../assets/fonts/lexend-regular.woff2) format("woff2");
      }

      @font-face {
        font-family: "Lexend";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../assets/fonts/lexend-medium.woff2) format("woff2");
      }

      @font-face {
        font-family: "Lexend";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../assets/fonts/lexend-bold.woff2) format("woff2");
      }

      @font-face {
        font-family: "JetBrains Mono";
        font-style: normal;
        font-display: swap;
        src: url(../assets/fonts/jetbrains-mono-regular.woff2) format("woff2");
      }

      /** DOCUMENT */
      * {
        box-sizing: border-box;
      }

      :root {
        --text-color: #000;
        --background-color: #fff;
      }

      html,
      body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;

        font-family: "Lexend", sans-serif;
        text-rendering: optimizeLegibility;
        text-transform: lowercase;

        background-color: var(--background-color);
        color: var(--text-color);
      }

      body.loading::before {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        border: 3px solid #fabd60;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      /** MAIN CONTAINER */
      #page-contents {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        margin: 0 auto;
        width: 100%;

        position: relative;
        z-index: 1;
      }

      @media (min-width: 720px) {
        #page-contents {
          width: 45%;
          min-width: 720px;
        }
      }

      /** LINKS */
      a {
        color: inherit;
        text-decoration: none;
        position: relative;

        background-image: linear-gradient(
          to right,
          #fabd60,
          #fabd60 50%,
          currentColor 50%,
          currentColor
        );
        background-position: 100% 1.18em;
        background-repeat: repeat-x;
        background-size: 200% 0.06rem;

        transition: background-position-x 0.3s;
      }

      a:hover {
        background-position-x: 0;
      }

      /** LISTS */
      ol,
      ul {
        margin: 1em 0 0;
      }

      li:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      /** MISC */
      code {
        font-size: 0.825rem;
        font-family: monospace;
        font-weight: 500;
      }

      hr {
        display: block;
        border: 0;
        background-color: #ccc;
        height: 1px;
        width: 100%;
      }

      /** DARK THEME */
      @media (prefers-color-scheme: dark) {
        :root {
          --text-color: #cfcfcf;
          --background-color: #202020;
        }

        hr {
          background-color: #444;
        }
      }

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    </style>
  </body>
</html>
